.container {
  position: absolute;
  height: 70px;
  background: #94ebcd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.container ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 25px;
}

.logo {
  margin: 0;
}

.searchBar {
  width: 327px;
  height: 40px;
  background: #dffff4;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px;
}

.filter a {
  width: 161px;
  height: 32px;
  background: #ffcb91;
  border-radius: 24px;
  padding: 9px;
}
.filter a > i {
  color: #359ad3;
}
